<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.UserMapper" >

    <resultMap id="selectPhone" type="com.example.demo.model.User">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <collection property="phoneList" column="id" javaType="ArrayList" ofType="String" select="getPhoneList"/>
    </resultMap>

    <select id="getAllUser" resultType="com.example.demo.model.User">
        select * from user
    </select>

    <select id="getById" resultMap="selectPhone" parameterType="java.lang.Integer">
        select * from user where id = #{0}
    </select>

    <select id="getPhoneList" resultType="java.lang.String" parameterType="java.lang.Integer">
        select * from phone where userId = #{id}
    </select>

    <insert id="batchInsert"  parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into user(name,sex) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.name}, #{item.sex})
        </foreach>
    </insert>

</mapper>